body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.conteiner {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: #fd9222;
  border: 1px solid #fd9222;
}
/* ------------------------HEADER------------------- */

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 32px;
}
.address-list-ul {
  display: flex;
  justify-content: space-between;
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  gap: 24px;
  align-items: center;
}
.simply-span {
  font-style: italic;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.ul-logo {
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

.logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  gap: 4px;
  align-items: center;
}
.address {
  display: flex;
  margin-left: 0;
}

.address-ul-list {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 90px;
  align-items: center;
}
.address-li {
}

.header-address-svg {
  fill: transparent;
  stroke: #111;
}

.header-address-svg:hover {
  stroke: #fd9222;
}
